In [ ]:
import pandas as pd
import random

In [ ]:
names = ["Albert","John","Richard","Henry","William"]
surnames = ["Goodman","Black","White","Green","Joneson"]
salaries = [500*random.randint(10,30) for _ in range(10)]
def generate_random_person(names, surnames, salaries):
    return {"name":random.sample(names,1)[0],
            "surname":random.sample(surnames,1)[0],
            "salary":random.sample(salaries,1)[0]}
def generate_people(k):
    return [generate_random_person(names, surnames, salaries) for _ in range(k)]

In [ ]:
df = pd.DataFrame(generate_people(50),columns=["name","surname","salary"])

In [ ]:
df.to_csv("random_people.csv")

In [ ]:
import pandas as pd 

df = pd.read_csv("random_people.csv")

In [ ]:
df.head(10)

In [ ]:
df.describe()

In [ ]:
df['salary'].value_counts()

In [ ]:
df['salary'].median()

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
y = list(df.salary)
plt.boxplot(y)
plt.show()

In [ ]:
df["salary_after_tax"] = df["salary"]*.8

In [ ]:
def tax(s):
    if s>=8000:
        return s*.7
    else:
        return s*.85

In [ ]:
df["salary_after_tax"] = df["salary"].apply(tax)
df

In [ ]:
df_low = df[df["salary"]<8000]
df_high = df[df["salary"]>=8000]

In [ ]:
df_high["salary"].mean()

In [ ]:
df_low= df.loc[df["salary"]<6000,"salary"]
df.loc[df["salary"]<6000,"salary_after_tax"] = df_low*.85

df_low= df.loc[df["salary"]>=6000,"salary"]
df.loc[df["salary"]>=6000,"salary_after_tax"] = df_low*.7

In [ ]:
import pandas as pd
 
import numpy as np
 

dict = {'First Score':[100, 90, np.nan, 95],
        'Second Score': [30, 45, 56, np.nan],
        'Third Score':[np.nan, 40, 80, 98]}
 
df = pd.DataFrame(dict)

df.isnull()
df

In [ ]:
df.fillna(10)

In [ ]:
import pandas as pd
 
# importing numpy as np
import numpy as np
 
# dictionary of lists
dict = {'First Score':[100, 90, np.nan, 95],
        'Second Score': [30, 45, 56, np.nan],
        'Third Score':[np.nan, 40, 80, 98]}
 
# creating a dataframe from dictionary
df = pd.DataFrame(dict)
 
# filling a missing value with
# previous ones 
df.fillna(method ='pad')

In [ ]:
import pandas as pd
 
# importing numpy as np
import numpy as np
 
# dictionary of lists
dict = {'First Score':[100, 90, np.nan, 95],
        'Second Score': [30, 45, 56, np.nan],
        'Third Score':[np.nan, 40, 80, 98]}
 
# creating a dataframe from dictionary
df = pd.DataFrame(dict)
 
# filling  null value using fillna() function 
df.fillna(method ='bfill')

In [ ]:
import pandas as pd
   
# Creating the dataframe 
df = pd.DataFrame({"A":[12, 4, 5, None, 1],
                   "B":[None, 2, 54, 3, None],
                   "C":[20, 16, None, 3, 8],
                   "D":[14, 3, None, None, 6]})
   
# Print the dataframe
df

In [ ]:
df.interpolate(method ='linear', limit_direction ='forward')

In [ ]:
import pandas as pd
 
# importing numpy as np
import numpy as np
 
# dictionary of lists
dict = {'First Score':[100, 90, np.nan, 95],
        'Second Score': [30, np.nan, 45, 56],
        'Third Score':[52, 40, 80, 98],
        'Fourth Score':[np.nan, np.nan, np.nan, 65]}
 
# creating a dataframe from dictionary
df = pd.DataFrame(dict)
   
df

In [ ]:
import pandas as pd
 
# importing numpy as np
import numpy as np
 
# dictionary of lists
dict = {'First Score':[100, 90, np.nan, 95],
        'Second Score': [30, np.nan, 45, 56],
        'Third Score':[52, 40, 80, 98],
        'Fourth Score':[np.nan, np.nan, np.nan, 65]}
 
# creating a dataframe from dictionary
df = pd.DataFrame(dict)
 
# using dropna() function 
df.dropna()

In [ ]:
import pandas as pd
 
# importing numpy as np
import numpy as np
 
# dictionary of lists
dict = {'First Score':[100, np.nan, np.nan, 95],
        'Second Score': [30, np.nan, 45, 56],
        'Third Score':[52, np.nan, 80, 98],
        'Fourth Score':[np.nan, np.nan, np.nan, 65]}
 
# creating a dataframe from dictionary
df = pd.DataFrame(dict)
   
df

In [ ]:
import pandas as pd
 
# importing numpy as np
import numpy as np
 
# dictionary of lists
dict = {'First Score':[100, np.nan, np.nan, 95],
        'Second Score': [30, np.nan, 45, 56],
        'Third Score':[52, np.nan, 80, 98],
        'Fourth Score':[np.nan, np.nan, np.nan, 65]}
 
df = pd.DataFrame(dict)
 
# using dropna() function   
df.dropna(how = 'all')

In [ ]:
import pandas as pd
  
# importing numpy as np
import numpy as np
  
# dictionary of lists
dict = {'First Score':[100, np.nan, np.nan, 95],
        'Second Score': [30, np.nan, 45, 56],
        'Third Score':[52, np.nan, 80, 98],
        'Fourth Score':[60, 67, 68, 65]}
 
# creating a dataframe from dictionary
df = pd.DataFrame(dict)
    
df

In [ ]:
import pandas as pd
  
# importing numpy as np
import numpy as np
  
# dictionary of lists
dict = {'First Score':[100, np.nan, np.nan, 95],
        'Second Score': [30, np.nan, 45, 56],
        'Third Score':[52, np.nan, 80, 98],
        'Fourth Score':[60, 67, 68, 65]}
 
# creating a dataframe from dictionary 
df = pd.DataFrame(dict)
 
# using dropna() function    
df.dropna(axis = 1)